RMExtension/HandlerEnvironment.json
CDScripts/node_modules/
node_modules/
_build/
_testResults/
ExtensionHandler/Windows/src/LASTSEQNUM
ExtensionHandler/Windows/src/HandlerEnvironment.json
ExtensionHandler/Windows/latestVersion.json
ExtensionHandler/Windows/oldVersion.json
ExtensionHandler/Windows/src/.vscode/launch.json
